body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
}

.container {
	width: 100%;
    max-width: 1170px;
    padding: 15px;
    margin:  0 auto;
}

/*Header*/

.logo {
    float: left;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}
.banner {
    display: flex;
    justify-content: center;
    background: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 800px;
    min-height: 800px;
    
}

.banner__blok {
    margin: auto;
}

.banner__text {
    color: white;
}

.line {
    border: none;
	width: 600px;
    background-color: #15a4fa;
    height:2px;
    margin-top: 40px;
}

.headline {
    margin: -101px auto -25px;
    font-size: 120px;
    font-weight: 700;
    color: white;
}

.button {
    text-decoration: none;
    color: white;
    padding: 15px;
    border: 1px solid#15a4fa;
    border-radius: 3px;
    display: block;
    margin: 53px auto 0;
    max-width: 155px;
    transition: all 500ms ease;
}

.button:hover {
  color:#16a4fa;
  border: 1px solid#ffffff;
  
} 

.pointer__down {
	
	position:relative;

}

.pointer__down::after {
	content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    margin-top: 179px;
    right: 48%;
    border-bottom: 2px solid#fff;
    border-right: 2px solid#fff;
    transform: rotate(45deg);

}

/*Блок mine*/

.text_design {
    font-size: 40px;
    font-weight: 400;
    color: #2d3950;
    
    
}

.text_design_1 {
    color: #999999;
    margin-top: 15px;
    
    line-height: 31px;
}

.main {
    background-color: #f6f9f9;
    padding: 40px 0 60px;
}

.icon__grad {
    background-color: #5fc3ff;
    background: linear-gradient(to right, #48baff 50%, #5fc3ff 50%);
    height: 100px;
    width: 100px;
}

.icon__grad::before {
    color: white;
    display: block;
    margin: 30px auto;
}

.main_icon {
    padding: 40px 0 60px;
}


.icon__headline {
    font-size: 22px;
    color: #2d3950;
    margin-top: 27px;
}

.icon__description {
    font-size: 15px;
    color: #999999;
    width: 250px;
    margin: 0 auto;
    margin-top: 20px;
    
}


/*Блок Портфолио*/

.portfolio__foto {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 25px;
    
}

.portfolio__foto img {
    
    max-height: 100%;
    max-width: 100%;
   
    
}

.animate_img {
    
}

.col-1-2 {
  width: 50%;
  float: left;
}
.col-1-3 {
  width: 33.3333333333%;
  float: left;
}
.col-1-4 {
  width: 25%;
  float: left;
}
.col-2-3 {
  width: 66.6666666667%;
  float: left;
}

.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-bottom: 15px;
}





.animate_photo {
    height: 260px;
    width: 360px;
    background: #15a4fa;
    position: relative;
    
}

.portfolio__foto:hover .animate_photo img {
    opacity: .1;
}

.icon__portfolio {
    height: 50px;
    width: 50px;
    color: white;
    background-color: #15a4fa;
    position: absolute;
    top: 43%;
    right: 50%;
    opacity: 0;
    border: 1px solid #fff;
    border-radius: 3px;
}


.icon__portfolio i {
    margin-top: 15px;
}

.icon__portfolio_2 i {
    margin-top: 15px;
}

.icon__portfolio_2 {
    height: 50px;
    width: 50px;
    color: white;
    background-color: #15a4fa;
    position: absolute;
    top: 43%;
    right: 30%;
    opacity: 0;
    border: 1px solid #fff;
    border-radius: 3px;
}

.animate_photo:hover .icon__portfolio {
    opacity: 1;
    z-index: 20;
}

.animate_photo:hover .icon__portfolio_2 {
    opacity: 1;
    z-index: 20;
}

/*Блок контактная форма*/

.contact__block {
    background-image: url(img/contact_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 700px;
    min-height: 700px;
    
    
}

.contact_background {
    background: #2d3950;
    max-height: 700px;
    min-height: 700px;
    opacity: 0.9;
}

.text_contact {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    margin-top: 60px;
}

.input__name {
    font-size: 15px;
    background: none;
    border: 1px solid#848486;
    padding: 22px;
    color: #848486;
}

.input__email {
    font-size: 15px;
    background: none;
    border: 1px solid#848486;
    padding: 22px;
    color: #848486;
    margin-top: 22px;
}

.text_contact_1 {
    color: #999999;
    margin-top: 15px;
    line-height: 31px;
    margin-bottom: 46px;
}

.send_button {
    font-size: 18px;
    background: none;
    color: white;
    height: 45px;
    width: 140px;
    border: 1px solid#15a4fa;
    border-radius: 3px;
    margin-left: 325px;
    margin-top: 22px;
    transition: all 500ms ease;
}

.contact_checkbox {
    color: white;
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
}

.send_button:hover {
  color:#16a4fa;
  border: 1px solid#ffffff;
  
}

.work__text {
    font-size: 15px;
    color: #999999;
    width: 250px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 80px;
}

.checkbox1 {
    
}

/*Footer*/

.icon__footer {
    height: 40px;
    width: 40px;
    background-color: #15a4fa;
    color: white;
    margin: 5px;
    border-radius: 2px;
}

.footer__blok {
   
}

.copyritht {
    font-size: 15px;
    color: #999999;
    margin: 17px auto;
    float: left;
}

.icon__footer_blok {
    display: flex;
    float: right;
}

.icon__footer i {
    margin: 10px auto;
}

.facebook__icon:hover {
    background-color: #4a67ad;
}

.twitter__icon:hover {
    background-color: #fff;
    color: #4ea0eb;
    cursor: pointer;
}

.google__icon:hover {
    background-color: #ca5546;
}

.linkedin__icon:hover {
    background-color: #3373ae;
}
